node_modules
.turbo
apps/*/.turbo
packages/*/.turbo

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build
apps/*/.svelte-kit
apps/*/build
apps/*/.test-dist

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!apps/*/.env.development
!apps/*/.env.production
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
